html, body{
    height: 100%;
    width:100%;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
    background: black;
}

.container{
    max-width: 1400px;
    width: 100vw;

    max-height: 1080px;
    height: 77vw;

    margin: auto;

    display: flex;

}

.form-content{
    width: 60%;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-container{
    width: 40%;
    height: 100%;
    background-color: pink;
}

.form{
    height: 30%;
    width: 100%;
    background-color: green;
}

.headertextbox{
    padding-top:15%;
    padding-left: 5%;
    width: 80%;
}

.footertextbox{
    padding-top: 5%;
    padding-left: 5%;
    width: 80%;
}

.hf{
    height: 35%
}

h1{
    font-size: 2vh;
}